<div class="row mt-3">
  <div class="col-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12">
          <button class="btn btn-success" type="submit" [disabled]="!recipeForm.valid">Save</button>
          <button class="btn btn-danger ml-2" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="imgPath">Image URL</label>
            <input type="text" id="imgPath" class="form-control" formControlName="imgPath" #imgPath>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <img [src]="imgPath.value" class="img-fluid">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" id="description" rows="6" class="form-control"
                      formControlName="description"></textarea>
          </div>
        </div>
      </div>
      <label for="ingredients">Ingredients</label>
      <div class="row" id="ingredients" formArrayName="ingredients">
        <div class="col-12">
          <div class="row mb-2" *ngFor="let ingredientCtrl of ingredientsControls; let i=index" [formGroupName]="i">
            <div class="col-8">
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-2">
              <input type="number" class="form-control" formControlName="amount">
            </div>
            <div class="col-2">
              <button type="button" class="btn btn-danger" (click)="onRemoveIngredient(i)">Remove</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-12">
              <button class="btn btn-success" type="button" (click)="onAddIngredient()">Add Ingredient</button>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
